@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>SISTEMA DE ADMINISTRACION</h1>
    </div>
    <div class="item active text-center" >
        <img src="~/Imagenes/Login2.png" alt="Los Angeles" style="width:60%;">
    </div>
</div>

