@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <hr class="sidebar-divider">
        <li>
            <div class="text-center">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#logoutModal">
                    <span class="icon text-white-50">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span class="text">Cerrar Sesión</span>
                </a>
            </div>
        </li>
        <hr class="" />
    }
}
